@page
@model Razor_EF.Pages.AboutModel
@{
}

<div class="container mt-4">
    <h2>О проекте</h2>
    <p>Автор: Картузов Александр</p>
    <p>Академия TOP</p>
    <p>Проект Razor_EF — демонстрация CRUD-операций с использованием ASP.NET Core 8, EF Core и Razor Pages</p>
</div>