@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-4">
    <h2>Выберите таблицу</h2>
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="/Client">Клиенты</a></li>
        <li class="list-group-item"><a asp-page="/Clients/Index">Клиенты (полный CRUD)</a></li>
        <li class="list-group-item"><a asp-page="/Product">Товары</a></li>
        <li class="list-group-item"><a asp-page="/Products/Index">Товары (полный CRUD)</a></li>
        <li class="list-group-item"><a asp-page="/Order">Заказы</a></li>
    </ul>
</div>

<a href="/Files">Файлы для скачивания</a>