@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика безопасности";
}
<h1>@ViewData["Title"]</h1>

<div class=" mt-4 text-info text-center">
    <p>Для заказа товара зарегистрируйтесь / войдите с ролью User</p>
    <p>(по умолчанию guest:guest)</p>
    <p>Для доступа к клиентам Вы должны обладать правами Manager</p>
    <p>Для полного доступа правами Admin</p>
</div>